.contact-item {
    @media (min-width: 992px) {
      .contact-item-title {
        position: relative;
        z-index: 1;
        margin-bottom: -3rem;
      }
      .contact-item-img {
        position: relative;
        z-index: 0;
        max-width: 60vw;
      }
      .contact-item-description {
        position: relative;
        z-index: 1;
        margin-top: -3rem;
        max-width: 50vw;
      }
    }
  }